* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body {
    background-color: #2C2F33;
}



/*title*/
h1 {
width: 525px;
height: 59px;

font-family: Poppins;
text-transform: uppercase;
font-style: normal;
font-weight: bolder;
font-size: 60px;
line-height: 90px;
text-align: center;
color: #FFFFFF;

padding-top:15px;

}

/*players*/

.playerContainers{
display: flex;
width: 636px;
height: 113px;
left: 393px;
top: 174px;

font-family: Poppins;
color: #FFFFFF;
font-size: 15px;

padding-top:15px;

}

.player1{
    color:#FF5757;
}

.player2{
    color:#FFDE59;
}

/*game board*/
.game-board {
    background: #004AAD;
    /* display: flex; */
    cursor: pointer;
    height: 430px;
    width: 510px; 
    padding: 5px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.486);
    
}

tr td {
    /* row Styles here */
    border: 4px solid #004AAD;
    background-color: #737373;
    height: 80px;
    width: 80px;
    /*flex-direction: row-reverse (bottom/top logic)*/
    border-radius: 50%;
    text-align: center;
    margin: auto;

}

.cell:hover {
    background-color: #edf1f4ab !important;
    
}


.rematch {
    width: 100px;
    height: 60px;
    


    background: #C4C4C4;
    text-transform: uppercase;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.486);
    border-radius: 25px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    cursor: pointer;

}

.btnRestart {
    padding-left: 46%;
    padding-top: 20px;

}

.rematch:hover{
    background-color: white;
}

