* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body {
    background-color: #2C2F33;
}


/*button*/
.game-board {
    background: #004AAD;
    display: flex;
    cursor: pointer;
    height: 510px;
    width: 490px; 
    padding: 5px;
    /* justify-content: center;
    align-content: center; */
    
}

.column1{
    flex-direction: row;
    width: 20%;
    padding: 2px;
}

.column2 {
    flex-direction: row;
    width: 20%;
    padding: 2px;
}
.column3 {
    flex-direction: row;
    width: 20%;
    padding: 2px;
}
.column4 {
    flex-direction: row;
    width: 20%;
    padding: 2px;
}
.column5 {
    flex-direction: row;
    width: 20%;
    padding: 2px;
}


#redPiece {
    border: 5px solid #737373;
    background-color: #FF5757;
}

#yellowPiece {
    border: 5px solid #737373;
    background-color: #FFDE59;
}

.boardRow {
    /* row Styles here */
    border: 5px solid #004AAD;
    background: #737373;
    height: 81px;
    /*flex-direction: row-reverse (bottom/top logic)*/
    border-radius: 50%;
    text-align: center;
    margin: auto;
}
